body {
    background-color: #f5d9df;
    margin: 0;
  }
  
  #mainNavbar {
    font-size: 1.5rem;
    font-family: emoji;
    font-weight: 100;
  
  }
  #mainNavbar .nav-link {
    color: white;
  }
  #mainNavbar .nav-link:hover {
    color: #ea1c2c;
  }
  #mainNavbar .navbar-brand {
    color: #ea1c2c;
  }

  .super .card{
    background: #f5d9dff0;
  }